body {
  background-color: #fafafa;
  font-family: Arial regular, sans-serif;
}

nav {
  position: fixed;
  top:0;
  left:0;
  width: 100%; 
  z-index: 500; 
}

a {
  float: left;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#top {
  min-height: 50px;
}

#open-source {
  min-height: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-template-rows: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    padding-left: 12%;
    padding-right: 12%;
  }

  .grid-item {
    /* border: 1px solid black; */
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .deets {
    position: relative;
    bottom: 7%;
    text-align: left;
  }

  .issue {
    position: relative;
    text-align: left;
  }

  .image {
    max-width: 175px;
    max-height: auto;
    box-shadow: 2px 6px 8px #888888;
  }

  .screen-cap {
    max-width: 350px;
    /* position: absolute; */
    top: 15%;
    box-shadow: 2px 6px 8px #888888;
  }

  .accent {
    color: rgb(123, 162, 202);
  }

  h1 {
    font-weight: lighter;
  }

  h2 {
    position: relative;
    /* bottom: 95%; */
    color: dimgray;
    font-weight: 300;
    text-align: left;
  }

  #contributions {
    color: dimgray;
    margin-top: 18px;
    font-style: italic;
    font-size: 14px;
    align-content: center;
  }
  
  .bug-link {
    text-decoration: none;
  }

  .bug-link:visited {
    color: black;
  }

  #more {
    display: none;
  }

  article {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.8;
    max-width: 1000px;
    margin: 200px auto;
  }

  #myBtn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }

  .matrix {
    width: 400px;
    height: 200px;
  }

  footer {
    text-align: center;
    color: dimgray;
  }

  @media (max-width: 767px) {
    .hidden-mobile {
      display: none;
    }
    .mobile{
      padding: 0;
      margin: 0;
    }
  }